body {

	font-family:Arial;
	font-weight:lighter;
	font-size:15px;;
	
}

div {
	
	padding-left:400px;
	padding-right:400px;
	padding-top:150px;
	padding-bottom:300px;
	
	border:2px ;
	text-align:left;
	
	
}
#img1 {
	position:absolute;
	padding-left:290px;
	padding-top:135px;
	margin:40px;
	height:50px;
}